body {

    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/circles-light.png);
} 
.container2 {
    display: flex;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    border: #cccccc;
    padding: 8px;
    margin: 8px;
    flex: 1;
}

.box {
    color: #777777;
    flex: 1;
    box-sizing: border-box;
    
}

h2 {
    color: #4aaaa5;
}

.about {
    height: 450px;
    width: 450px;
    background: white;
}

.about img {
    float: left;
}

.about p {
    color: #777777;
    text-align: center;
    float: right;

}

h3 {
padding: 10px;

}

.connect {
    color: #4aaaa5;
    /* box-sizing: border-box; */
    height: 170px;
    width: 170px;
    background: white;
    
}


.footer {
    background-color: #666666;
    text-align: center;
    color: white;
    
}