* {
    box-sizing: border-box;
}

body {
    width: 960px;
    padding: 20px;
    Background: #777;
    Content: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    color: gray;
    
}

div {
    background: lightgray;
    margin: 10px;
    padding: 10px;
}
     
.section {
    position: relative;
    flex: 50%;
    width: 438px;

}

.aside {
    position: relative;
    flex: 50%;
    left: 50%;
     width: 438px;
     bottom: 38.7%;
     height: 309.88px;

}

.box { 
    position: relative;
}

.article {
    background: #777; 
}

.article h4 {
    color: white;
}

.article p {
    padding: 4px;
}

p {
    background: lightgray;
}

.footer {
    position: relative;
    bottom: 38%;
}